.Nav-bar{
     background-color: #FFC93C;
     height: 4.5rem;
     width: 100%;
     box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.38);
     font-family: "Lilita One", cursive;
     padding: 0 1rem;
     display: flex;
     justify-content: space-between;
     font-size: 25px;

}

.nav-links {
     width: 100%;
     display: flex;
     justify-content: space-around;
   
     
}
