.LandingPage {
   width: 100%;
   height: 100vh;
   background-image: url('http://localhost:8080/petPicture-1673339605812-469983004.png');
   background-size: cover;
}

.landing-page-header{
          background-color: #f8e92c;
     height: 8rem;
     width: 100%;
     box-shadow: 0px 6px 18px rgba(0, 0, 0, 1.38);
     font-family: 'Lobster', cursive;
     padding: 0 1rem;
     display: flex;
     justify-content: center;
}

.landing-page-header h1 {
     font-size: 8rem;
     
}

.top-bar {
   background-color: #f8e92c;
   height: 3.5rem;
   width: 100%;
   box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.38);
   font-family: "Lobster", cursive;
   padding: 0 1rem;
   display: flex;
   justify-content: center;
}

.top-bar p {
   font-size: 2rem;
   
}
.top-bottom-bar {
   background-color: #f8e92c;
   height: 2rem;
   width: 100%;
}

.content-box {
   margin-top: 3rem;
   width: 100%;
   height: 25rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
}
.content-box h1 {
   font-family: "Lilita One", cursive;
   font-size: 4rem;
   
}

.buttons-box {
   display: flex;
   justify-content: space-between;
   gap: 1rem
}

.search-alert-button {
   color: rgb(0, 0, 0);
   font-size: 35px;
   line-height: 16px;
   padding: 27px;
   border-radius: 37px;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
background-color: #0081C9;
   box-shadow: rgba(0, 0, 0, 0.57) 7px 10px 6px 2px;
   border: 2px solid rgb(28, 110, 164);
   display: inline-block;
}
.myButton:hover {
   background: #1c6ea4;
}
.myButton:active {
   background: #144e75;
}

.signup-button {
   color: rgb(0, 0, 0);
   font-size: 35px;
   line-height: 16px;
   padding: 27px;
   border-radius: 37px;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
  background-color: #0081C9;
   box-shadow: rgba(0, 0, 0, 0.57) 7px 10px 6px 2px;
   border: 2px solid rgb(28, 110, 164);
   display: inline-block;
}
.myButton:hover {
   background: #1c6ea4;
}
.myButton:active {
   background: #144e75;
}

.login-button {
   color: rgb(0, 0, 0);
   font-size: 35px;
   line-height: 16px;
   padding: 27px;
   border-radius: 37px;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
background-color: #0081C9;
   box-shadow: rgba(0, 0, 0, 0.57) 7px 10px 6px 2px;
   border: 2px solid rgb(28, 110, 164);
   display: inline-block;
}
.myButton:hover {
   background: #1c6ea4;
}
.myButton:active {
   background: #144e75;
}

.content-box h1{
   background-color: #ffffffff;
   border-radius: 25px;
   padding: 1rem;
   border: 3px solid ;
   box-shadow: rgba(0, 0, 0, 0.57) 7px 10px 6px 2px;
}