.search-box {
   border-radius: 15px;
   width: 100%;
   padding: 5px;
   padding-left: 1rem;
   background-color: #ffffff;
   display: flex;
   padding-right: 1rem;
   padding-bottom: 1rem;
   box-shadow: rgba(0, 0, 0, 0.3) 5px 7px 15px 5px;
}

.search-input {
   width: 100%;
   border: none;
   background-color: #ffffff;
   font-family: "Lilita One", cursive;
   font-size: 2rem;
}

.search-input:focus {
   outline: none;
}
.type-input:hover {
   transform: scale(1.2);
   color: rgb(255, 0, 0);
}

.type-input {
   color: rgb(0, 0, 0);
   margin-top: 1rem;
   width: 5rem;
   font-size: 14px;
   line-height: 14px;
   padding: 10px;
   border-radius: 13px;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
   background-color: #ffcc37;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.3) 5px 7px 15px 5px;
   display: inline-block;
   margin-right: 1rem;
}

.search-button:hover {
   transform: scale(1.4);
   color: rgb(255, 0, 0);
}

.search-button {
   color: rgb(0, 0, 0);
   margin-top: 1rem;
   width: 4rem;
   font-size: 14px;
   line-height: 14px;
   padding: 10px;
   border-radius: 13px;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
   /* background-image: linear-gradient(
      to right,
      rgb(28, 110, 164) 0%,
      rgb(35, 136, 203) 0%,
      rgb(20, 78, 117) 100%
   ); */
   background-color: #ffcc37;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.3) 5px 7px 15px 5px;
   display: inline-block;
}
.advanced-search {
   display: flex;
   gap: 1rem;
   font-family: "Lilita One", cursive;
   margin-left: 5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}
.dropdown {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}

.dropdown button:hover {
   transform: scale(1.04);
   color: rgb(255, 0, 0);
}

.dropdown button {
   color: rgb(0, 0, 0);
   margin-top: 1rem;
   width: 4rem;
   font-size: 22px;
   line-height: 14px;
   padding: 10px;
   border-radius: 33px;
   border: none;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
   /* background-image: linear-gradient(
      to right,
      rgb(28, 110, 164) 0%,
      rgb(35, 136, 203) 0%,
      rgb(20, 78, 117) 100%
   ); */
   background-color: #ffcc37;
   box-shadow: rgba(0, 0, 0, 0.3) 5px 7px 15px 5px;
   display: inline-block;
   width: 100%;
}
