.my-pet-page{
 display: flex;  
 flex-direction: column;
 align-items: center;
 width: 100%;
}


.my-pet-page button {
   color: rgb(255, 255, 255);
   margin-top: 1rem;
   width: 8rem;
   font-size: 14px;
   line-height: 14px;
   padding: 10px;
   border-radius: 33px;
   font-family: "Lilita One", cursive;
   font-weight: normal;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
   background-color: #ffcc37;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.3) 5px 7px 15px 5px;
   display: inline-block;
   margin: 15px;
}

.MyPetsPage button:hover {
   transform: scale(1.2);
   color:rgb(65, 66, 65);
}

